<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Employee Code</th>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Phone No</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">16576</th>
                    <td>Mark</td>
                    <td>Accountant</td>
                    <td>9898765</td>
                  </tr>
                  <tr>
                    <th scope="row">1425</th>
                    <td>Jacob</td>
                    <td>Trainee</td>
                    <td>45769870</td>
                  </tr>
                  <tr>
                    <th scope="row">19883</th>
                    <td>Larry the Bird</td>
                    <td>@twitter</td>
                    <td>6587879</td>
                  </tr>
                  <tr>
                    <th scope="row">23883</th>
                    <td>Larry</td>
                    <td>@twitter</td>
                    <td>6587879</td>
                  </tr>
                  <tr>
                    <th scope="row">14883</th>
                    <td>Lario</td>
                    <td>@twitter</td>
                    <td>6587879</td>
                  </tr>
                  <tr>
                    <th scope="row">17883</th>
                    <td>Larrie</td>
                    <td>@twitter</td>
                    <td>6587879</td>
                  </tr>
                  <tr>
                    <th scope="row">15883</th>
                    <td>Lariee</td>
                    <td>@twitter</td>
                    <td>6587879</td>
                  </tr>
                  <tr>
                    <th scope="row">19983</th>
                    <td>Lara</td>
                    <td>@twitter</td>
                    <td>6587879</td>
                  </tr>
                  <tr>
                    <th scope="row">19783</th>
                    <td>Lali</td>
                    <td>@twitter</td>
                    <td>6587879</td>
                  </tr>
                  <tr>
                    <th scope="row">1983</th>
                    <td>Tom</td>
                    <td>@twitter</td>
                    <td>6587879</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
